.auth-page:not(.layout-dark) {
  background-image: url(../../img/bg_login.png);
  background-size: cover;
  background-repeat: no-repeat; }

.auth-page .auth-img {
  padding: 0; }
  .auth-page .auth-img .auth-img-bg {
    background-color: #f5f5f5; }

.auth-height {
  overflow: auto; }
